*{
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#grad {
    background-image: linear-gradient(rgb(102, 81, 142), rgb(166, 163, 172));
  }

  
  .nav {
    background-color: aliceblue;
    font-size: 15px;
    margin: 0px 0px 30px 0px;
    padding:0px;
    columns: 4;
      
    }

    #prework-studyguide {
        width: 800px;
    }

    .img-with-text {
        text-align: justify;
    }
.img {
}

    
    
    